<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>

<body>
	<div th:replace="fragments/sidebar :: sidebar"></div>
	
	<div class="container main">
		<h1>Books</h1>
		
		<div class="container">		
			<div class="row">
				<div th:each="book : ${books}" class="col-md-3">
					<div>
						<a href="#">
							<span th:text="${book.title}"></span>
						</a>
						
						<div th:each="author : ${book.author}">
							<a href="#">
								<span th:text="${author.firstName}"></span>
								<span th:if="${author.middleName != null}" th:text="${author.middleName}"></span>
								<span th:text="${author.lastName}"></span>
							</a>
						</div>
							
						<br>
					</div>
				</div>
			</div>		
		</div>
	</div>
</body>
</html>