<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>

<body>
	<div th:replace="fragments/sidebar :: sidebar"></div>
	
	<div class="container main">
		<h1>Save Book</h1>
		
		<hr>
		
		<div class="container">		
			<form th:action="@{/books/save}" th:object="${book}" method="POST">
				<!-- hidden form field to handle Updates -->
				<input type="hidden" th:field="*{id}">
				
				<label class="font-weight-bold" for="title">
					Title
				</label>
				<input type="text" th:field="*{title}"
					   class="form-control mb-4 col-4" id="title" required>
				
				<label class="font-weight-bold"for="genre">
					Genre
				</label>	   
				<input type="text" th:field="*{genre}"
					   class="form-control mb-4 col-4" id="genre" required>
				
				<label class="font-weight-bold"for="series">
					Series
				</label>   
				<input type="text" th:field="*{seriesName}"
					   class="form-control mb-4 col-4" id="series">
					   
				<label class="font-weight-bold" for="number">
					Number
				</label>	   
				<input type="number" th:field="*{seriesNumber}"
					   class="form-control mb-4 col-4" min="1" id="number">
					   
				<button type="submit" class="btn btn-info">Save</button>
			</form>
		</div>	
	</div>
</body>
</html>