<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>

<body>
	<div th:replace="fragments/sidebar :: sidebar"></div>
	
	<div class="container main">
		<h1>Authors</h1>
		
		<div th:each="author : ${authors}">
			<div>
				<a href="#">
					<span th:text="${author.lastName + ', ' + author.firstName}"></span>
					<span th:if="${author.middleName != null}" th:text="${author.middleName}"></span>
				</a>
			</div>
		</div>
	</div>
</body>
</html>