<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>

<body>
	<div th:replace="fragments/sidebar :: sidebar"></div>
	
	<div class="container main">
		<h1>Authors</h1>
		
		<div th:each="currentAuthor : ${authors}">
			<div>
				<a href="#">
					<span th:text="${currentAuthor.lastName + ', ' + currentAuthor.firstName}"></span>
					<span th:text="${currentAuthor?.middleName}"></span>
				</a>
			</div>
		</div>
	</div>
</body>
</html>