<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>

<body>
	<div th:replace="fragments/sidebar :: sidebar"></div>
	
	<div class="container main">
		<h1>Save Author</h1>
		
		<hr>
		
		<div class="container">		
			<form th:action="@{${action}}" th:object="${author}" method="POST">
				<!-- hidden form field to handle Updates -->
				<input type="hidden" th:field="*{id}">
				
				<label class="font-weight-bold" for="firstName">
					First Name
				</label>
				<input type="text" th:field="*{firstName}"
					   class="form-control mb-4 col-4" id="firstName" required>
				
				<label class="font-weight-bold" for="lastName">
					Last Name
				</label>	   
				<input type="text" th:field="*{lastName}"
					   class="form-control mb-4 col-4" id="Last Name" required>
				
				<label class="font-weight-bold" for="middleName">
					Middle Name or Initial
				</label>	   
				<input type="text" th:field="*{middleName}"
					   class="form-control mb-4 col-4" id="middleName" placeholder="optional">
					   
				<button type="submit" class="btn btn-info">Save</button>
			</form>
		</div>	
	</div>
</body>
</html>