<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>

<body>
	<div th:replace="fragments/sidebar :: sidebar"></div>
	
	<div class="container main">
		<h1>
			<span th:text="${author.firstName}"></span>
			<span th:if="${author.middleName != null}" th:text="${author.middleName}"></span>
			<span th:text="${author.lastName}"></span>
		</h1>
		
		<a class="btn btn-info" th:href="@{/authors/update(authorID=${author.id})}" role="button">
			Update
		</a>
		
		<hr>
		
		<h3>Books</h3>
		
		<div class="container">
			<div class="row">
				<div th:each="book : ${author.books}" class="col-md-3">
					<div>
						<a th:href="@{'/books/' + ${book.id}}">
							<span th:text="${book.title}"></span>
						</a>
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>